{% extends "base.html" %}
{% load static %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="about-text">


  <h1 class="page-title"><u>About Us</u></h1>
  <img class='img-fluid about-image' src="{% static "images/about_us.jpg" %}" alt="">
  <p>King Bros. Boat Storage started by Randy King in 1984. The King family has been actively boating since the early 1940s. Randy and his brothers have been boating on Lake Lewisville/ Lake Dallas since 1953, and since 1987 have primarily owned offshore sport boats and drag boats. It was the need for convenient storage which led King Bros. to start their own storage business. At that time, there simply wasn’t a facility around to store hard-to-store boats. That’s where King Bros. comes in, catering to the guy with a 42’ Fountain, a jet ski and everything in between. King Bros. specializes in fishing boats, ski boats with towers, bass boats that require power outlets, offshore boats that need door height, plus the facility can easily accommodate the guy with a motor home, inside or outside.</p>
  <p>King Bros. is truly a family owned and operated facility! Randy King, the company founder, works on the property 7 days a week, and Paula King is in charge of leasing and office management. The Kings are friendly, knowledgeable folks who try to provide everything needed to enhance the boating experience for their customers. Try King Bros. Boat Storage and experience the hometown difference.</p>
  </div>
{% endblock %}
