{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="jumbotron">
  <h3>We would love to hear from you!</h3>
  <h3>If you have any questions or comments, please call or email:</h3>
  <div class="contact">
  <p><strong>King Bros. Boat Storage</strong><br>965 Main St.<br>Hickory Creek, TX 75065 </p>
  <p><strong>Email:</strong> paula@kingbros.net</p>
  <p><strong>Office:</strong> 940-321-3685</p>
  <p><strong>Cell:</strong> 940-367-6224</p>
  </div>
  <iframe src="https://www.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=965+S.+Main+Hickory+Creek,+TX+75065&amp;aq=&amp;sll=21.125498,81.914063&amp;sspn=29.557822,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=965+Main+St,+Lake+Dallas,+Texas+75065,+United+States&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=33.108603,-97.0078&amp;output=embed&amp;iwloc=near" width="100%" height="350" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
  </div>
{% endblock %}
