{% extends "base.html" %}
{% load static %}
{% block content %}
  {# <div class="jumbotron"> #}
    <h1 class="page-title">King Bros Boat Storage</h1>
    <img class="img-fluid home-image" src="{% static "images/aerial.jpg" %}" alt="Uh OH" height= 300px>
    <div class="home-text">


    <p>King Bros. Boat Storage is a family owned and operated company that has been in business since 1984. Being a family of very active boaters, the Kings understand the needs of all levels of boating enthusiasts, from first-time boat owners to seasoned pros. Whether you have a 42′ Fountain or a jet ski, King Bros. has a perfect accommodation for your craft!</p>

    <p>The facility is enclosed by a wrought iron fence with rolling gates. The security features provide peace-of-mind for clients, since there is an onsite security guard. Customers have safe and convenient 24-hour access to their storage units using an individual key code.</p>

    <p>We accept Visa, MasterCard, Discover and American Express!  One month free service with annual pre-payment!</p>
  {# </div> #}
  {# <div class="jumbotron"> #}
    <p>Other Amenities:

<ul class='no-bullets'>
  <li>Nicest boat storage facility on Lake Lewisville</li>
  <li>Wide drives</li>
  <li>20 acre facility, 24/7 access</li>
  <li>Boat ramp/Corp park adjacent to facility</li>
  <li>Onsite security, three infrared camera fields</li>
  <li>Dump station/air/water</li>
  <li>Two air conditioned nice bathrooms</li>
  <li>Electric doors on selected stalls (32′ and 64′ units)</li>
  <li>Three coded 45′ electric gates</li>
  <li>Camping park just across I-35</li>
  <li>All credit cards accepted</li>
</ul>

<p>Explore this site and learn why King Bros Boat Storage has kept many of the same loyal customers the whole time they’ve been open!</p>
</div>
  {# </div> #}
{% endblock %}
